@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* *{
    margin: 0;
    padding: 0;
} */
.logo{
    height: 23px;
    width: 40px;
}
.logo img{
    width: 134px;
}
.right ul{
    display: flex;
    gap: 20px;
    font-family: "PT Sans", serif;
    font-size: large;
}
.right ul li{
    list-style: none ;
    display: flex;
    align-items: center;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;

}